.experience{
  padding-bottom: 2em;
}
.section-line{
    border: 0;
    height: 1px;
    background: #333;
    background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

.line-style{
  border: 0;
  height: 1px;
  background: $smoke;
  width: 80%;
}

div.experience h2{
  color: $pink;
}