// shared classes
@import 'shared';


.border-shadow{
  box-shadow: 0 20px 30px $charcoal;
}

// text
.text-black {color: $charcoal};

// positioning
.text-center {text-align: center};

.padding-5{
  padding: 5px;
}

.padding-left-right-5{
  padding-right: 5px;
  padding-left: 5px;
}

.header{
  font-family: 'Oswald', sans-serif;
}

body{
  font-family: 'Open Sans', sans-serif;
}

.pink{
  color: $pink;
}

.blue{
  color: $blue;
}

.center{
  margin-left: 50%;
  transform: translate(-50%);
}