.nav ul{
  width: 100%;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

.nav li{
  font-size: 1.3em;
  height: 40px;
  line-height: 40px;
}

.nav a{
  display: block;
  text-decoration: none;
  display: inline-block;
}

.nav h1{
  font-size: 1.4em;
}
