@import 'shared';
@import 'helpers';
@import 'normalize';

.nav ul{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  height: 20vh;
}

.nav{
  background-color: white;
  margin: 0;
}

.nav-link{
  font-size: 1.3em;
  height: 40px;
  line-height: 40px;
}

.nav-a{
  display: block;
  text-decoration: none;
  display: inline-block;
}

.active{
  color: $gold;
}


.nav h1{
  font-size: 1.4em;
}

.nav-link h4{
  margin: 0;
}