.no-style{
  background: url(https://media.giphy.com/media/VhJjZ8Yt3WqbK/source.gif)no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 80vh;
  width: 80vw;
}