#container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  width: 40vw;
  flex-grow: 1;
  margin: 15px;
}

.project-image{
  width: 100%;
  height: inherit;  
}

.project-link {
  text-decoration: none;
  color: black;
}

