#container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.card{
  width: 40vw;
  flex-grow: 1;
}

.project-image{
  width: 20vw;
  height: inherit;  
}