// shared variables
// colors 

@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');



$gold: #C0B283;
$silk: #DCD0C0;
$smoke: #ebebeb;
$charcoal: #373737;
$blue: #1856F9;
$pink: #C71585;
$white: #ffffff;
