// shared variables
// colors 

@import url('https://fonts.googleapis.com/css?family=Barrio');
@import url('https://fonts.googleapis.com/css?family=Open+Sans|Oswald');



$gold: #C0B283;
$silk: #DCD0C0;
$smoke: #F4F4F4;
$charcoal: #373737;

